@page

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>
<br>
<br>
<p>Nossa empresa prioriza a segurança e privacidade das informações
    dos nossos usuários. Comprometemo-nos a proteger todas as informações
    pessoais que você compartilha conosco. Todas as suas informações serão
    utilizadas estritamente para melhorar nossos serviços e oferecer uma
    experiência personalizada. Não compartilhamos, vendemos ou alugamos suas
    informações pessoais a terceiros sem seu consentimento. Estamos em total
    conformidade com as leis de proteção de dados vigentes, adotando medidas
    rigorosas para garantir a segurança dos dados. Utilizamos tecnologias
    avançadas de criptografia para proteger suas informações contra acessos não autorizados.</p>

<p>Além disso, queremos assegurar que suas informações estão em boas mãos.
    Implementamos políticas internas rigorosas e treinamos nossa equipe para
    garantir a confidencialidade dos dados. Você tem o direito de acessar,
    corrigir ou excluir suas informações pessoais a qualquer momento.
    Caso tenha alguma dúvida sobre nossa política de privacidade ou o uso das
    suas informações, não hesite em nos contatar. Agradecemos por confiar em nós
    para proteger suas informações e estamos empenhados em fornecer uma experiência
    segura e transparente enquanto você utiliza nossos serviços.</p>


