@page

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<body>
    <h2>Quem Somos</h2>
    <br>
    <br>
    <p>A Don Gatão é uma loja especializada na area de cosméticos profissionais
        para Barbearias, estamos no mercado desde 2016 e somos referência local
        em produtos masculinos de qualidade. Temos uma catalogo vasto de produtos,
        que atendem ao publico de varejo e atacado. Nosso centro de distribuição está
        situado na principal avenida da cidade, na região central. Temos estacionamento
        proprio para você realiazar suas comprar com tranquilidade e conforto.
    </p>
    <br>
    <p>
        Nossa visão é promover uma experiência unica aos nossos clientes. Apresentando
        produtos de qualidade, preço justo e atendimento de alto nível, prestando
        todas as informações necessarias para que nosso cliente, sinta-se satisfeito. Todo
        atendimento deve ser encarado como o desenvolvimento de um relacionamento de longo
        prazo. Fortalecendo o vinculo de parceria para ambos.
    </p>
    <div div class="text-center">
        <img width="220" height="220" src="/images/loja_1.jpeg" />
    </div>
</body>
</html>
